.text-bordered {
    /*font-family: Raleway;*/
    font-weight:900;
    text-shadow: 3px 3px 0px #000;
}

.div-fade {
    padding-top:1em;
    background-color:black;
    opacity:0.7;
}
.mainIcon {
    height:20px;
}
