<div class="modal fade ana-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="instructor-ana">About Ana</h5>
            </div>
            <div class="modal-body small">
                <img class="img-fluid" src="~/Content/img/InstructorAna/Ana.jpg" alt="">
                <hr />
                <p>
                    I am a native spanish from Valencia (Spain), currently living in Bangkok. I am a certified spanish instructor, and have been
                    teaching Spanish since 2012. I came to Bangkok with the desire to help others to learn my language, and it is truly what I
                    love to do. Over the past few years I have learned French, so I completely understand what it is like to learn a new language.
                    What I have learned is that with patience and motivation, you will succeed! I can't wait to help you in your journey to
                    learning Spanish!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

