<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contact Us</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container-fluid p-1">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-12">
                <a class="portfolio-box" href="~/Content/img/ContactPage/ContactPage.jpg">
                    <img class="img-fluid" src="~/Content/img/ContactPage/ContactPage.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Teacher David (Madrid, Spain)
                            </div>
                        </div>
                    </div>
                    <br />
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p><span class="text-yellow">Spanish/English</span>+66-40-940-923</p>
                <p><span class="text-yellow">Thai/Chinese</span>+66-86-977-1070</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">insert-your-email@here.com</a>
                </p>
                <p>
                    <a href="mailto:your-email@your-domain.com">Line-id</a>
                </p>
            </div>
        </div>
    </div>
</section>

