<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contact Us</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container-fluid p-1">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <a class="portfolio-box">
                    <img class="img-fluid" src="~/Content/img/ContactPage/ContactPage.jpg" alt="">
                    <br />
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-4 text-center">
                    <p>
                        <br />
                        <i class="fa fa-phone fa-3x mb-3 text-red"></i>
                        <br />
                        <span class="text-red">+66-99-418-7368</span>
                        <br />
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <p>
                        <br />
                        <i class="fa fa-envelope-o fa-3x mb-3 text-red"></i>
                        <br />
                        <a href="mailto:Academaidelespanol@gmail.com">Academiadelespanol@gmail.com</a>
                        <br />
                        <a href="#here">Line-id :: Davidmg88</a>
                    </p>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 text-center">
                    <p>
                        <span class="text-red">For taxable Invoices:</span>
                        <br />
                        ESP language co.,Ltd<br />
                        760/1-2 Sukhumvit road<br />
                        4th floor, Klongtoey<br />
                        Klongtoey, Bangkok<br />
                        10110 Thailand<br />
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</section>

