
<div class="modal fade course-children-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="course-children-title">children Course</h5>
            </div>
            <div class="modal-body small">
                <p>
                    Because the children doesn´t learn languages in the same way as we do, we designed courses specially adapted to teach
                    your kids through games, songs and interacting with them only using Spanish from a born native spanish teacher.
                </p>
                <h6 class="text-red mb-3">
                    Call for details.
                </h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


