<section class="bg-yellow" id="classes">
    <div class="container text-center">
        <h2 class="mb-4">Spanish Group Classes : Coming Classes</h2>
        <hr class="border-dark">
        <table id="class-table" class="table table-hover table-sm" cellspacing="0" cellpadding="0" style="border-color:black">
            <thead class="">
                <tr>
                    <th class="border-dark">Date</th>
                    <th class="border-dark">Day</th>
                    <th class="border-dark">Class</th>
                    <th class="border-dark">Time</th>
                    <th class="border-dark">Total hours</th>
                </tr>
            </thead>
        </table>
    </div>
</section>
