

<div class="modal fade course-dele-a1-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="course-dele-A1-title">Spanish Diploma Level A1 (Breakthrough)</h5>
            </div>
            <div class="modal-body small">
                <p>
                    Certifies that the student is able to communicate using the language in a basic way in situations
                    having to do with immediate needs or everyday situations.
                </p>
                <p>
                    At this level, students are adquiring a general basic ability to communicate in the most familiar
                    situations in everyday life.
                </p>
                <p>
                    They will also be able to understand language use applied to simple contexts needed for survival
                    such as traveling in a Spanish speaking country.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


