<div class="modal fade david-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="instructor-david">About David</h5>
            </div>
            <div class="modal-body small">
                <img class="img-fluid" src="~/Content/img/InstructorDavid/DavidA.jpg" alt="">
                <hr />
                <p>
                    I am not just a passionate teacher but friendly, sociable and fun, always looking to improve in my personal and proffessional
                    enviroment.
                </p>
                <p>
                    I started teaching when I was still at the university, as a tutor, and since then I have been teaching , the last 3 years of my
                    life in Bangkok to students from every cultures around the world.
                </p>
                <p>
                    In addition of my qualifications I am very hard working person who loves to deal with people and learn new languages as a
                    hobby.
                </p>
                <p>
                    I started Academia del Español due to the growing demand for Spanish language in Bangkok and the absence of specialized
                    centers covering this need in the city.
                </p>
                <p>
                    I would like to offer you my 6 years experience as a Spanish teacher.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
