<div class="modal fade course-exam-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="course-exam-title">Official Exam preparation (D.E.L.E.)</h5>
            </div>
            <div class="modal-body small">
                <p>
                    Diplomas of Spanish as a Foreign Language (DELE) are official titles certifying degree of competence and mastery of the
                    Spanish language, granted by the Ministry of Education, Culture and Sport of Spain.
                </p>
                <p>
                    The Instituto Cervantes organizes examination sessions, while the Universidad de Salamanca in Spain designs the exams,
                    and is in charge of corrections and the final evaluation of all exams.
                </p>
                <p>
                    I also offer specific preparation classes for DELE exams.
                </p>
                <p>
                    Diplomas of Spanish as a Foreign Language (DELE) are divided into six levels
                </p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h5 class="section-heading">Course level</h5>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="container-fluid p-1">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-sm-6 text-center">
                        <a class="portfolio-box" onclick="show('A1')">
                            <i class="fa fa-3x fa-paper-plane text-primary mb-3"></i>
                            <p class="small">Level A1</p><p class="small">(Breakthrough)</p>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-6 text-center">
                        <a class="portfolio-box" onclick="show('A2')">
                            <i class="fa fa-3x fa-bicycle text-primary mb-3"></i>
                            <p class="small">Level A2</p><p class="small">(Waystage)</p>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-6 text-center">
                        <a class="portfolio-box" onclick="show('B1')">
                            <i class="fa fa-3x fa-car text-primary mb-3"></i>
                            <p class="small">Level B1</p><p class="small">(Threshold)</p>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-6 text-center">
                        <a class="portfolio-box" onclick="show('B2')">
                            <i class="fa fa-3x fa-train text-primary mb-3"></i>
                            <p class="small">Level B2</p><p class="small">(Vantage)</p>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-6 text-center">
                        <a class="portfolio-box" onclick="show('C1')">
                            <i class="fa fa-3x fa-plane text-primary mb-3"></i>
                            <p class="small">Level C1</p><p class="small">(Effective Operational Proficiency)</p>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-6 text-center">
                        <a class="portfolio-box" onclick="show('C2')">
                            <i class="fa fa-3x fa-rocket text-primary mb-3"></i>
                            <p class="small">Level C2</p><p class="small">(Mastery)</p>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row px-3">
                    <div class="small" id="class-level">
                        <h6>Spanish Diploma Level A1 (Breakthrough)</h6>
                        <p>
                            Certifies that the student is able to communicate using the language in a basic way in situations
                            having to do with immediate needs or everyday situations.
                        </p>
                        <p>
                            At this level, students are adquiring a general basic ability to communicate in the most familiar
                            situations in everyday life.
                        </p>
                        <p>
                            They will also be able to understand language use applied to simple contexts needed for survival
                            such as traveling in a Spanish speaking country.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="A1" style="display:none">
    <h6>Spanish Diploma Level A1 (Breakthrough)</h6>
    <p>
        Certifies that the student is able to communicate using the language in a basic way in situations
        having to do with immediate needs or everyday situations.
    </p>
    <p>
        At this level, students are adquiring a general basic ability to communicate in the most familiar
        situations in everyday life.
    </p>
    <p>
        They will also be able to understand language use applied to simple contexts needed for survival
        such as traveling in a Spanish speaking country.
    </p>
</div>

<div id="A2" style="display:none">
    <h6>panish Diploma Level A2 (Waystage)</h6>
    <p>
        Certifies that the candidate can understand commonly used, everyday phrases and expressions
        related to areas of experience especially relevant to them (basic information about themselves, and
        their families, shopping, places of interest, work, etc.).
    </p>
    <p>
        At this level Spanish students will be able to handle the main structures of the language with some
        confidence to include a wider range of vocabulary and appropriate communication strategies in a
        variety of social situations. Students will be able to argue and describe contexts with a degree of
        proficiency.
    </p>
</div>

<div id="B1" style="display:none">
    <h6> Diploma Level B1 (Threshold)</h6>
    <p>
        Certifies candidates’ capacity to understand the gist of clear texts, in standard language, if they
        involve well-known topics related to work, studies or leisure. It also certifies students’ ability to deal
        with most situations that occur while travelling in areas where Spanish is spoken; to produce simple
        and coherent texts about familiar topics, or topics of personal interest; and lastly to be able to
        describe experiences, events, wishes and hopes, as well as to be able to briefly express opinions or
        explain plans.
    </p>
</div>

<div id="B2" style="display:none">
    <h6>Spanish Diploma Level B2 (Vantage)</h6>
    <p>
        Certifies students’ ability to interact with native speakers with a sufficient degree of fluency and
        spontaneity to enable easy and natural communication between interlocutors; produce clear and
        detailed texts about diverse topics, as well as defend an opinion about general topics, expressing
        the pros and cons for each argument; and lastly, understand the gist of complex texts about both
        concrete and abstract topics, including technical texts, provided they are within the candidate’s
        area of expertise.
    </p>
    <p>
        Students are approaching the linguistic competence of an educated native speaker.
    </p>
</div>

<div id="C1" style="display:none">
    <h6>Spanish Diploma Level C1 (Effective Operational Proficiency)</h6>
    <p>
        Certifies sufficient linguistic competence to understand a wide variety of lengthy, and somewhat
        demanding texts, as well as to grasp implicit meaning in the same; to express themselves fluently
        and spontaneously without apparent effort to find the right words; to be able to use the language
        flexibly and effectively for social, academic and professional purposes; and finally, to be able to
        produce clear, well-structured and detailed texts about topics of some complexity, correctly using
        mechanisms of organization, articulation and cohesion in the text.
    </p>
</div>

<div id="C2" style="display:none">
    <h6>Spanish Diploma Level C2 (Mastery)</h6>
    <p>
        Certifies sufficient linguistic competence to communicate effectively in any situation, proving ability
        to spontaneously adapt to any context, with a high degree of precision. The language users show
        subtle control of nuances which allow for fluent and natural expression in all interactions.
        Students will be helped by language instructors to fine tune areas of specialization such as
        professional or literary use of Spanish.
    </p>
</div>