<section id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">More on Spanish</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-center">
                    How much Spanish do you know?
                    <br />
                    <a href="http://www.enforex.com/espanol/test-gramatica.html" rel="noopener noreferrer" target="_blank">TEST YOUR LEVEL HERE</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Spanish Origins:</h4>
                <p class="text-center">
                    It comes from latin like other languages as portuguese, italian, french or english.
                    <br />
                    After studing it you will be able to understand much better other languages like the Portugese, French or the Italian.
                    The Instituto Cervantes is the public institution created by Spain in 1991 to promote universally the teaching, study and use
                    of Spanish.
                    <br />
                    It's established in 87 centers distributed in 44 countries across five continents.
                    <br />
                    Spanish is spoken by 350 million people around the world and is currently the 3th most important language worldwide.
                    There are 21 countries where Spanish it's spoken as the first language and is the second language in many others as USA.
                </p>
            </div>
        </div>
    </div>
</section>

