
<div class="modal fade course-online-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="course-online-title">Online course</h5>
            </div>
            <div class="modal-body small">
                <p>
                    Because not all the people have the time to come to class or they want to have flexibility and study when and where they
                    most like we have designed for you the best online courses in witch you will learn from the confortability of your home You’ll
                    learn online (via Skype), communicating and sharing learning materials just as you would in a classroom. .with our online
                    classes you will Improve your Spanish quickly with lessons that are tailored to your level, goals and interests:
                </p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h5 class="section-heading">Course level</h5>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 text-center">
                        <div class="service-box mx-auto">
                            <i class="fa fa-3x fa-bicycle text-primary mb-3"></i>
                            <h6 class="mb-3"> A1 </h6>
                            <p class="small mb-0">
                                Sessions
                            </p>
                            <p class="text-muted small mb-0">
                                30 grammar
                            </p>
                            <p class="text-muted small mb-0">
                                15 vocabulary
                            </p>
                            <p class="text-muted small mb-0">
                                16 reading
                            </p>
                            <p class="text-muted small mb-0">
                                16 Listening
                            </p>
                            <p class="text-muted small mb-1">
                                30 Skype
                            </p>
                            <p class="text-red small mb-3">
                                700 Baths/hour or 20000 Baths/course
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 text-center">
                        <div class="service-box mx-auto">
                            <i class="fa fa-3x fa-car text-primary mb-3"></i>
                            <h6 class="mb-3"> A2 </h6>
                            <p class="small mb-0">
                                Sessions
                            </p>
                            <p class="text-muted small mb-0">
                                32 grammar
                            </p>
                            <p class="text-muted small mb-0">
                                16 vocabulary
                            </p>
                            <p class="text-muted small mb-0">
                                16 reading test
                            </p>
                            <p class="text-muted small mb-0">
                                16 Listening
                            </p>
                            <p class="text-muted small mb-1">
                                36 Skype
                            </p>
                            <p class="text-red small mb-3">
                                700 Baths/hour or 20000 Baths/course
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 text-center">
                        <div class="service-box mx-auto">
                            <i class="fa fa-3x fa-bus text-primary mb-3"></i>
                            <h6 class="mb-3"> B1 </h6>
                            <p class="small mb-0">
                                Sessions
                            </p>
                            <p class="text-muted small mb-0">
                                32 grammar
                            </p>
                            <p class="text-muted small mb-0">
                                20 vocabulary
                            </p>
                            <p class="text-muted small mb-0">
                                16 reading
                            </p>
                            <p class="text-muted small mb-0">
                                16 Listening
                            </p>
                            <p class="text-muted small mb-1">
                                32 Skype
                            </p>
                            <p class="text-red small mb-3">
                                700 Baths/hour or 20000 Baths/course
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 text-center">
                        <div class="service-box mx-auto">
                            <i class="fa fa-3x fa-train text-primary mb-3"></i>
                            <h6 class="mb-3"> B2 </h6>
                            <p class="small mb-0">
                                Sessions
                            </p>
                            <p class="text-muted small mb-0">
                                32 grammar
                            </p>
                            <p class="text-muted small mb-0">
                                16 vocabulary
                            </p>
                            <p class="text-muted small mb-0">
                                16 reading
                            </p>
                            <p class="text-muted small mb-0">
                                16 Listening
                            </p>
                            <p class="text-muted small mb-1">
                                36 Skype
                            </p>
                            <p class="text-red small mb-3">
                                700 Baths/hour or 20000 Baths/course
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 text-center">
                        <div class="service-box mx-auto">
                            <i class="fa fa-3x fa-plane text-primary mb-3"></i>
                            <h6 class="mb-3"> C1 </h6>
                            <p class="small mb-0">
                                Sessions
                            </p>
                            <p class="text-muted small mb-0">
                                36 Essays
                            </p>
                            <p class="text-muted small mb-0">
                                16 vocabulary
                            </p>
                            <p class="text-muted small mb-0">
                                16 reading
                            </p>
                            <p class="text-muted small mb-0">
                                16 Listening
                            </p>
                            <p class="text-muted small mb-1">
                                36 Skype
                            </p>
                            <p class="text-red small mb-3">
                                700 Baths/hour or 20000 Baths/course
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 text-center">
                        <div class="service-box mx-auto">
                            <i class="fa fa-3x fa-rocket text-primary mb-3"></i>
                            <h6 class="mb-3"> C2 </h6>
                            <p class="small mb-0">
                                Sessions
                            </p>
                            <p class="text-muted small mb-0">
                                36 Essays
                            </p>
                            <p class="text-muted small mb-0">
                                16 vocabulary
                            </p>
                            <p class="text-muted small mb-0">
                                16 reading
                            </p>
                            <p class="text-muted small mb-0">
                                16 Listening
                            </p>
                            <p class="text-muted small mb-1">
                                36 Skype
                            </p>
                            <p class="text-red small mb-3">
                                700 Baths/hour or 20000 Baths/course
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

