<div class="modal fade pablo-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="instructor-pablo">About Pablo</h5>
            </div>
            <div class="modal-body small">
                <img class="img-fluid" src="~/Content/img/InstructorPablo/Pablo.jpg" alt="">
                <hr />
                <p>
                    Hello!
                    I have nearly 5 years of experience teaching students of all ages and abilities. I enjoy learning languages and I understand
                    how it feels to be a student. We each have a different learning style, and our own personal reasons for studying. My
                    philosophy is that a good teacher should be flexible and understanding in order to get the most out of a student.
                    It is a great thrill for me to see the progress made by my students, whether it is passing a job interview, scoring well on an
                    exam, or simply gaining the confidence and ability to communicate in English. I hope to meet with you soon, for personalized
                    lessons which will help you to reach your goals.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

