<section class="bg-primary text-yellow" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Service</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container-fluid p-1">
        <div class="row no-gutters">
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-company-modal-lg">
                    <img class="img-fluid" src="~/Content/img/CompanyClass/CompanyClass.JPG" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Course for Company
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-online-modal-lg">
                    <img class="img-fluid" src="~/Content/img/OnlineClass/OnlineClassB.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Online Course
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-group-modal-lg">
                    <img class="img-fluid" src="~/Content/img/GroupClass/GroupClassB.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Group Courses
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-private-modal-lg">
                    <img class="img-fluid" src="~/Content/img/PrivateClass/PrivateClassB.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Private courses
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-children-modal-lg">
                    <img class="img-fluid" src="~/Content/img/ChildrenClass/ChildrenClassA.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Children courses
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-tutor-modal-lg">
                    <img class="img-fluid" src="~/Content/img/TutorClass/TutorClassC.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tutor classes
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-special-modal-lg">
                    <img class="img-fluid" src="~/Content/img/SpecialClass/SpecialClass.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Special courses (IB, IGCSE)
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target=".course-exam-modal-lg">
                    <img class="img-fluid" src="~/Content/img/ExamClass/ExamClass.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded small">
                                Official Exam preparation (D.E.L.E.)
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>