<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Academy del Espanol</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="~/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/creative.css" rel="stylesheet">
</head>
<body id="page-top">
    @RenderBody()
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Scripts/js/creative.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
    @*<script>
        $(document).ready(function () {
            $('#class-table').DataTable({
                "processing": true,
                "serverSide": true,
                "bPaginate": false,
                "searching": false,
                "ajax": "Home/GetClass/",
                "columns": [
                    { "data": "first_name" },
                    { "data": "last_name" },
                    { "data": "position" },
                    { "data": "office" },
                    { "data": "start_date" },
                    { "data": "salary" }
                ]
            });
        });
    </script>*@
    <script>
        $(document).ready(function () {
            $('#class-table').dataTable({
                "bServerSide": false,
                "bProcessing": true,
                "paging": false,
                "searching": false,
                "info":false,
                "sAjaxDataProp": "feed.entry",
                "sAjaxSource": "https://spreadsheets.google.com/feeds/list/1rmG59KueHFkXXIsmXLVh-pOFnTMddk7AyDJjrm1CDGU/od6/public/values?alt=json",
                "aoColumns": [
                { "mDataProp": "gsx$date.$t" },
                { "mDataProp": "gsx$day.$t" },
                { "mDataProp": "gsx$class.$t" },
                { "mDataProp": "gsx$time.$t" },
                { "mDataProp": "gsx$totalhours.$t" },
                ]
            });
        });
        </script>
</body>
</html>
